a {
	color: gray;
}
aside {
	background-color: #f0f0f0;
	border: 1px solid gray;
	margin: 0.5em 0 2em 0;
	padding: 0.5em;
	text-indent: 0;
}
aside input {
	width: 98%;
}
b {
	display: block;
	margin-top: 3em;
	text-indent: 0;
}
em {
	display: block;
	font-style: normal;
}
li {
	display: block;
	margin: 0.5em 0;
	padding: 0 0 0 2em;
	text-indent: 1em;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 40em;
}
.rule {
	padding-top: 1em;
	text-indent: -2em;
}
.talk {
	cursor: pointer;
	left: 42em;
	position: absolute;
	text-indent: 0;
}
